a{
    text-decoration: none;
}
.jumbotron{
    padding-top: 5rem;
    background-color: #ddfefb;
}
#pengalamankuliah{
    padding-top: 5rem;
}
#foto{
    padding-top: 5rem;
    background-color: #ddfefb;
}
#hubungisaya{
    padding-top: 5rem;
}